{% extends 'base.html' %}
{% import '_logView.html' as logView %}

{% block scripts %}
    {{ super() }}
    {{ logView.logScripts() }}
{% endblock %}

{%  set colorMapping = {
        "NotSet": "dimgray",
        "Pass": "green",
        "Inconclusive": "lightgray",
        "Fail": "orange",
        "Cancel": "orangered",
        "Error": "red" }
%}

{% macro verdict(name) %}
    <span class="label" style="background: {{ colorMapping[name] }}">{{ name }}</span>
{% endmacro %}

{% macro executorTimes(name, executor) %}
    {% set isRun = (name=='Run') %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>{{ name }}</h2>
            </div>
            {% if isRun %}
                <div class="col-sm-6">
                    <h3 style="text-align: right">Verdict: {{ verdict(executor.Verdict.name) }}</h3>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-6">
                {% if executor.Started is not none %}
                    <p>
                        Started: {{ moment(executor.Started).format('LLL') }} ({{ moment(executor.Started).fromNow() }}, waited
                        {{ moment(executor.Started).fromTime(executor.Created, no_suffix = True) }})
                    </p>
                {% else %}
                    <p> Not started</p>
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if executor.Finished is not none %}
                    <p>
                        Finished: {{ moment(executor.Finished).format('LLL') }} ({{ moment(executor.Finished).fromNow() }}, ran for
                        {{ moment(executor.Started).fromTime(executor.Created, no_suffix = True) }})
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% block app_content %}
    <div class="container">
        Status: <span class="badge">{{ execution.CoarseStatus.name }}</span> <span class="badge">{{ execution.Status }}</span>
        Created: {{ moment(execution.Created).format('LLL') }} ({{ moment(execution.Created).fromNow() }})
    </div>

    <div class="accordion" id="logAccordion">
        {{ executorTimes('Pre-Run', execution.PreRunner) }}
        {{ logView.logView(execution.PreRunner.RetrieveLogInfo(), 'Pre-Run', False) }}
        <hr>
        {{ executorTimes('Run', execution.Executor) }}
        {{ logView.logView(execution.Executor.RetrieveLogInfo(), 'Run', False) }}
        <hr>
        {{ executorTimes('Post-Run', execution.PostRunner) }}
        {{ logView.logView(execution.PostRunner.RetrieveLogInfo(), 'Post-Run', False) }}
    </div>
{% endblock %}
